<!DOCTYPE html>
<html lang="es">
	<head>
		<% include ../../partials/backend/head_backend %>
		<link rel="stylesheet" href="/static/css/src/contents_b.css">
	</head>
	<body>
		<% include ../../partials/backend/sidemenu_backend %>

		<main class="grey lighten-3">
			<!-- Nav -->
			<% include ../../partials/backend/header_backend %>

			<div class="row content_start">
				<div id="btn_add_container" class="col s12">
				<!-- Add new content type button -->
				<a class="waves-effect waves-light btn modal-trigger" href="/backend/contents/add/">Añadir Contenido</a>
				</div>
			</div>

			<!-- Table all content -->
			<div id="content-table" class="row">
				<table class="striped responsive-table">
					<thead>
						<tr>
							<th data-field="id">#</th>
							<th data-field="name">Nombre</th>
							<th data-field="content_type">Tipo</th>
							<th data-field="location">Localización</th>
							<th data-field="languages">Idiomas</th>
							<th data-field="date_in">Fecha Entrada</th>
							<th data-field="date_out">Fecha Salida</th>
							<th data-field="actions">Acción</th>
						</tr>
					</thead>

					<tbody>
						<% var count = 0;
						for(var i=0; i<contents.length; i++) {
							count++; %>
							<tr>
								<td><%= contents[i].ID %></td>
								<% var found = false;
								for(var j=0; j<contentInformations.length && !found; j++) {
									if(contentInformations[j].CONTENT_ID === contents[i].ID) { %>
										<td><%= contentInformations[j].NAME %></td>
										<% found = true;
									}
								} 
								for(var j=0; j<contentTypes.length; j++) {
									if(contentTypes[j].ID === contents[i].CONTENT_TYPE_ID) { %>
										<td><%= contentTypes[j].NAME %></td>
									<% }
								} 
								var found = false;
								for(var j=0; j<locations.length; j++) {
									if(locations[j].ID === contents[i].LOCALIZATION_ID) { %>
										<td><%= locations[j].DESCRIPTION %></td>
										<% found = true;
									}
								}
								if(found === false) { %>
									<td>Ninguna</td>
								<% } %>
								<td><ul>
								<% for(var j=0; j<contentInformations.length; j++) {
									if(contentInformations[j].CONTENT_ID === contents[i].ID) { %>
										<% for(var k=0; k<langs.length; k++) {
											if(langs[k].ID === contentInformations[j].LANG_ID) { %>
												<li><img src="<%= langs[k].FLAG %>" width="30px" /></li>
											<% }
										} %>
										
									<% }
								} %>
								</ul></td>
								<td><%= moment(contents[i].DATE_IN).format('DD/MM/YYYY') %></td>
								<td><%= moment(contents[i].DATE_OUT).format('DD/MM/YYYY') %></td>
								<td class="actions">
									<a href="/backend/contents/edit/<%= contents[i].ID %>/"><i class="material-icons">mode_edit</i></a>
									<a class="modal-trigger" href="#delete_content"><i class="material-icons">delete</i></a>
								</td>
							</tr>
						<% }
						if(count == 0) { %>
							<td colspan="8" id="no_content">NO HAY CONTENIDOS ACTUALMENTE</td>
						<% } %>
					</tbody>
				</table>
			</div>

			<!-- Delete Content Modal -->
			<% include ../../partials/backend/modals/modal_delete_content %>

		</main>

		<footer class="page-footer">
			<% include ../../partials/backend/footer_backend %>
		</footer>

		<% include ../../partials/backend/script_backend %>
		<% include ../../partials/backend/server_messages %>
		<script src="/static/js/src/contents_b.js"></script>
	</body>
</html>