<!DOCTYPE html>
<html lang="es">
	<head>
		<% include ../../partials/backend/head_backend %>
		<link rel="stylesheet" href="/static/css/src/content_b.css">
	</head>
	<body>
		<% include ../../partials/backend/sidemenu_backend %>

		<main class="grey lighten-3">
			<!-- Nav -->
			<% include ../../partials/backend/header_backend %>

			<div class="row content_start">
				<div id="tabs_container" class="col s11">
					<ul class="tabs">
						<% if(typeof(langs) !== 'undefined') {
							for(var i=0; i<langs.length; i++) { %>
								<li class="tab col">
									<% if(i === 0) { %>
									<a class="active" href="#<%= langs[i].NAME.toLowerCase() %>_content">
									<% } 
									else { %>
									<a href="#<%= langs[i].NAME.toLowerCase() %>_content">
									<% } %>
										<img src="<%= langs[i].FLAG %>" alt="Bandera <%= langs[i].NAME %>" width="25px"/>
										<span class="hide-on-small-only"><%= langs[i].NAME %></span>
									</a>
								</li>
							<% }
						}
						else { %>
						<li class="tab col">
							<a class="active" href="#español_content">
								<img src="/static/img/langs/spain.png" alt="Bandera Español" width="25px"/>
								<span class="hide-on-small-only">Español</span>
							</a>
						</li>
						<% } %>
					</ul>
				</div>
				<div id="more_langs" class="col s1"><a class="modal-trigger waves-effect waves-light"><i class="material-icons">add</i></a></div>
				
				<!-- All tabs content -->
				<div id="contents" content-id="<% if(typeof(cont) !== 'undefined') { %><%= cont.ID %><% }%>">
					<% if(typeof(langs) !== 'undefined') {
						for(var j=0; j<langs.length; j++) { %>
							<div id="<%= langs[j].NAME.toLowerCase() %>_content" class="col s12" content-lang="<%= langs[j].ID %>" info-id="<%= contentInformations[j].ID %>">
								<div class="row">
									<form method="post" action="#" class="info_form col s12 z-depth-1">
										<h5>INFORMACIÓN</h5>
										<!-- Content name -->
										<div class="input-field col s12">
											<input id="content_name" name="content_name" type="text" class="validate" length="100" required value="<%= contentInformations[j].NAME %>">
											<label for="content_name">Nombre</label>
										</div>
										<!-- Content type -->
										<div class="input-field col s12 m6">
											<select required id="content_type" name="content_type">
												<option value="" disabled>Tipo de contenido</option>
												<% for(var i=0; i<contentTypes.length; i++) {
													if(contentTypes[i].ID === cont.CONTENT_TYPE_ID) { %>
														<option value="<%= contentTypes[i].ID %>" selected data-icon="<%= contentTypes[i].ICON %>" class="left circle"><%= contentTypes[i].NAME %></option>
													<% }
													else { %>
														<option value="<%= contentTypes[i].ID %>" data-icon="<%= contentTypes[i].ICON %>" class="left circle"><%= contentTypes[i].NAME %></option>
													<% } %>
												<% } %>
											</select>
										</div>
										<!-- Content location -->
										<div class="input-field col s12 m6">
											<select id="content_location" name="content_location">
												<option value="" selected disabled>Localización  (opcional)</option>
												<% for(var i=0; i<locations.length; i++) { 
													if(locations[i].ID === cont.LOCALIZATION_ID) {%>
														<option value="<%= locations[i].ID %>" selected><%= locations[i].DESCRIPTION %></option>
													<% }
													else { %>
														<option value="<%= locations[i].ID %>"><%= locations[i].DESCRIPTION %></option>
													<% } %>
												<% } %>
											</select>
										</div>
										<!-- Content description -->
										<div class="input-field col s12">
											<textarea id="content_description" name="content_description" class="materialize-textarea"><%= contentInformations[j].DESCRIPTION %></textarea>
											<label for="content_description">Descripción</label>
										</div>
										<!-- Content blind description -->
										<div class="input-field col s12">
											<textarea id="content_blind_description" name="content_blind_description" class="materialize-textarea" required><%= contentInformations[j].BLIND_DESCRIPTION %></textarea>
											<label for="content_blind_description">Descripción alternativa (en idioma seleccionado)</label>
										</div>
										<% moment.updateLocale('es', {
											months: [ 'Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre' ]
										}); %>
										<!-- Content date in  -->
										<div class="input-field col s12 m6">
											<input type="hidden" id="content_date_in_hidden" name="content_date_in_hidden" value="<%= moment(cont.DATE_IN).format('DD/MM/YYYY') %>">
											<input type="date" id="content_date_in" name="content_date_in" class="datepicker" required value="<%= moment(cont.DATE_IN).format('DD MMMM, YYYY') %>">
											<label for="content_date_in">Fecha Entrada</label>
										</div>
										<!-- Content date out  -->
										<div class="input-field col s12 m6">
											<input type="hidden" id="content_date_out_hidden" name="content_date_out_hidden" value="<%= moment(cont.DATE_OUT).format('DD/MM/YYYY') %>">
											<input type="date" id="content_date_out" name="content_date_out" class="datepicker" value="<%= moment(cont.DATE_OUT).format('DD MMMM, YYYY') %>">
											<label for="content_date_out">Fecha Salida</label>
										</div>
										<!-- Submit form -->
										<div class="input-field col s12">
											<button id="submit_content_form" class="btn waves-effect waves-light right" type="submit" name="submit_content_form">
												<span>Guardar</span>
												<i class="material-icons right">save</i>
											</button>
										</div>
									</form>
								</div>
								<div class="multimedia img_content row z-depth-1">
									<h5 class="col s12">IMÁGENES</h5>
									<ul class="content_multimedia row">
										<% if(typeof(images) !== 'undefined') {
											for(var i=0; i<images.length; i++) {%>
												<li class="col s12 m6 l4">
													<% var altTextFound = false;
													var altText = '';
													for(var k=0; k<altTexts.length && !altTextFound; k++) {
														if(altTexts[k].IMAGE_ID === images[i].ID && altTexts[k].LANG_ID === langs[j].ID) {
															altText = altTexts[k].ALT_TEXT;
															altTextFound = true;
														}
													}
													if(altTextFound) { %>
														<img pic="<%= images[i].ID %>" class="responsive-img materialboxed z-depth-1" data-caption="<%= altText %>" alt="<%= altText %>" src="<%= images[i].URL %>">
														<p class="image_alt_text truncate"><%= altText %></p>
													<% }
													else { %>
														<img pic="<%= images[i].ID %>" class="responsive-img materialboxed" data-caption="NO TIENE TEXTO ALTERNATIVO EN ESTE IDIOMA" alt="Imagen del contenido" src="<%= images[i].URL %>">
														<p class="image_alt_text  truncate">NO TIENE TEXTO ALTERNATIVO EN ESTE IDIOMA</p>
													<% } %>
													<div class="multimedia_actions image_actions">
														<a class="edit_multimedia btn-floating btn-large waves-effect waves-light"><i class="material-icons">edit</i></a>
														<a class="remove_multimedia btn-floating btn-large waves-effect waves-light red"><i class="material-icons">delete</i></a>
													</div>
													<div class="del_loader preloader-wrapper big active">
														<div class="spinner-layer spinner-custom">
															<div class="circle-clipper left">
																<div class="circle"></div>
															</div>
															<div class="gap-patch">
																<div class="circle"></div>
															</div>
															<div class="circle-clipper right">
																<div class="circle"></div>
															</div>
														</div>
													</div>
												</li>
											<% } 
										} %>
										<li class="col s12 m6 l4">
											<a class="add_multimedia new_image waves-effect waves-light btn">
												<i class="material-icons">add</i>
												<span>Añadir imagen</span>
											</a>
										</li>
									</ul>
								</div>
								<div class="multimedia video_content row z-depth-1">
									<h5 class="col s12">VIDEOS</h5>
									<ul class="content_multimedia row">
										<% if(typeof(videos) !== 'undefined') {
											for(var i=0; i<videos.length; i++) {
												if(videos[i].LANG_ID === langs[j].ID || videos[i].LANG_ID === null) { %>
													<li class="col s12 m6 l4">
														<div class="multimedia_actions video_actions">
															<a class="edit_multimedia btn-floating btn-large waves-effect waves-light"><i class="material-icons">edit</i></a>
															<a class="remove_multimedia btn-floating btn-large waves-effect waves-light red"><i class="material-icons">delete</i></a>
														</div>
														<% if(videos[i].LANG_ID === null) { %>
															<img class="sign_lang" src="/static/img/sign_lang.png" width="50px"/>
														<% } %>
														<% if(videos[i].ALT_TEXT !== null) { %>
															<p class="video_alt_text truncate"><%= videos[i].ALT_TEXT %></p>
														<% } %>
														<video vid="<%= videos[i].ID %>" class="responsive-video z-depth-1" controls>
															<source src="<%= videos[i].URL %>">
															<% var resCode = langs[j].CODE.split('-');
															var langCode = resCode[0]; %>
															<track src="<%= videos[i].SUBTITLE %>" kind="subtitles" srclang="<%= langCode %>" label="<%= langs[j].NAME %>">
															<p>El navegador no soporta la etiqueta de video, no podrá previsualizarlo.</p>
														</video>
														<div class="del_loader preloader-wrapper big active">
															<div class="spinner-layer spinner-custom">
																<div class="circle-clipper left">
																	<div class="circle"></div>
																</div>
																<div class="gap-patch">
																	<div class="circle"></div>
																</div>
																<div class="circle-clipper right">
																	<div class="circle"></div>
																</div>
															</div>
														</div>
													</li>
											<% } 
											}
										} %>
										<li class="col s12 m6 l4">
											<a class="add_multimedia new_video waves-effect waves-light btn">
												<i class="material-icons">add</i>
												<span>Añadir Video</span>
											</a>
										</li>
									</ul>
								</div>
							</div>
						<% }
					}
					else { %>
					
					<div id="español_content" class="col s12" content-lang="1" info-id="">
						<div class="row">
							<form method="post" action="#" class="info_form col s12 z-depth-1">
								<h5>INFORMACIÓN</h5>
								<!-- Content name -->
								<div class="input-field col s12">
									<input id="content_name" name="content_name" type="text" class="validate" length="100" required>
									<label for="content_name">Nombre</label>
								</div>
								<!-- Content type -->
								<div class="input-field col s12 m6">
									<select required id="content_type" name="content_type">
										<option value="" disabled selected>Tipo de contenido</option>
										<% for(var i=0; i<contentTypes.length; i++) { %>
											<option value="<%= contentTypes[i].ID %>" data-icon="<%= contentTypes[i].ICON %>" class="left circle"><%= contentTypes[i].NAME %></option>
										<% } %>
									</select>
								</div>
								<!-- Content location -->
								<div class="input-field col s12 m6">
									<select id="content_location" name="content_location">
										<option value="" disabled selected>Localización  (opcional)</option>
										<% for(var i=0; i<locations.length; i++) { %>
											<option value="<%= locations[i].ID %>"><%= locations[i].DESCRIPTION %></option>
										<% } %>
									</select>
								</div>
								<!-- Content description -->
								<div class="input-field col s12">
									<textarea id="content_description" name="content_description" class="materialize-textarea"></textarea>
									<label for="content_description">Descripción</label>
								</div>
								<!-- Content blind description -->
								<div class="input-field col s12">
									<textarea id="content_blind_description" name="content_blind_description" class="materialize-textarea" required></textarea>
									<label for="content_blind_description">Descripción alternativa (en idioma seleccionado)</label>
								</div>
								<!-- Content date in  -->
								<div class="input-field col s12 m6">
									<input type="hidden" id="content_date_in_hidden" name="content_date_in_hidden">
									<input type="date" id="content_date_in" name="content_date_in" class="datepicker" required>
									<label for="content_date_in">Fecha Entrada</label>
								</div>
								<!-- Content date out  -->
								<div class="input-field col s12 m6">
									<input type="hidden" id="content_date_out_hidden" name="content_date_out_hidden">
									<input type="date" id="content_date_out" name="content_date_out" class="datepicker">
									<label for="content_date_out">Fecha Salida</label>
								</div>
								<!-- Submit form -->
								<div class="input-field col s12">
									<button id="submit_content_form" class="btn waves-effect waves-light right" type="submit" name="submit_content_form">
										<span>Guardar</span>
										<i class="material-icons right">save</i>
									</button>
								</div>
							</form>
						</div>
						<div class="multimedia img_content row z-depth-1">
							<h5 class="col s12">IMÁGENES</h5>
							<ul class="content_multimedia row">
								<li class="col s12 m6 l4">
									<a class="add_multimedia new_image waves-effect waves-light btn">
										<i class="material-icons">add</i>
										<span>Añadir imagen</span>
									</a>
								</li>
							</ul>
						</div>
						<div class="multimedia video_content row z-depth-1">
							<h5 class="col s12">VIDEOS</h5>
							<ul class="content_multimedia row">
								<li class="col s12 m6 l4">
									<a class="add_multimedia new_video waves-effect waves-light btn">
										<i class="material-icons">add</i>
										<span>Añadir Video</span>
									</a>
								</li>
							</ul>
						</div>
					</div>

					<% } %>
				</div>
			</div>

			<!-- Selector new Lang modal-->
			<% include ../../partials/backend/modals/modal_select_lang %>

			<!-- Image modal-->
			<% include ../../partials/backend/modals/modal_content_image %>

			<!-- Video modal-->
			<% include ../../partials/backend/modals/modal_content_video %>
		</main>

		<footer class="page-footer">
			<% include ../../partials/backend/footer_backend %>
		</footer>

		<% include ../../partials/backend/script_backend %>
		<% include ../../partials/backend/server_messages %>
		<script src="/static/js/lib/moment.min.js"></script>
		<script src="/static/js/src/imagePrevisualization.js"></script>
		<script src="/static/js/src/videoPrevisualization.js"></script>
		<script src="/static/js/src/content_b.js"></script>
	</body>
</html>