<!DOCTYPE html>
<html lang="es">
	<head>
		<% include ../../partials/backend/head_backend %>
		<link rel="stylesheet" href="/static/css/src/langs_b.css">
	</head>

	<body>
		<% include ../../partials/backend/sidemenu_backend %>

		<main class="grey lighten-3">
			<!-- Nav -->
			<% include ../../partials/backend/header_backend %>

			<div class="row content_start">
				<div id="btn_add_container" class="col s12">
				<!-- Button add lang -->
				<a class="waves-effect waves-light btn modal-trigger" href="#add_lang">Añadir Idioma</a>
				</div>
			</div>

			<!-- Table all langs -->
			<div id="langs-table" class="row">
				<table id="tabla_usuarios" class="striped">
					<thead>
						<tr>
							<th data-field="id">#</th>
							<th data-field="name">Nombre</th>
							<th data-field="flag">Bandera</th>
							<th data-field="code">Código Idioma</th>
							<th data-field="actions">Acción</th>
						</tr>
					</thead>

					<tbody>
						<% var count = 0;
						for(var i=0; i<langs.length; i++) {
							count++; %>
							<tr>
								<td><%= langs[i].ID %></td>
								<td><%= langs[i].NAME %></td>
								<td><img src="<%= langs[i].FLAG %>" alt="Bandera <%= langs[i].NAME %>" width="50px"/></td>
								<td><%= langs[i].CODE %></td>
								<td class="actions">
									<a class="modal-trigger" href="#edit_lang"><i class="material-icons">mode_edit</i></a>
									<a class="modal-trigger" href="#delete_lang"><i class="material-icons">delete</i></a>
								</td>
							</tr>
						<% }
						if(count == 0) { %>
							<td colspan="5" id="no_langs">NO HAY IDIOMAS ACTUALMENTE</td>
						<% } %>
					</tbody>
				</table>
			</div>

			<!-- Modal Add Lang -->
			<% include ../../partials/backend/modals/modal_add_lang %>

			<!-- Modal Edit Lang -->
			<% include ../../partials/backend/modals/modal_edit_lang %>
			
			<!-- Modal Delete Lang -->
			<% include ../../partials/backend/modals/modal_delete_lang %>

		</main>

		<footer class="page-footer">
			<% include ../../partials/backend/footer_backend %>
		</footer>

		<% include ../../partials/backend/script_backend %>
		<% include ../../partials/backend/server_messages %>
		<script src="/static/js/src/imagePrevisualization.js"></script>
		<script src="/static/js/src/lang_b.js"></script>
	</body>
</html>
